.product-image {
    width: 100%;
    height: auto;
    
    margin-right: 200px; /* Khoảng cách giữa các ảnh trên cùng một hàng */

}
#gf{
    margin-bottom: auto;
}
#r{
    color: #67e8f9;
}
/* Custom CSS to remove underline from links */
.product-description{
    text-decoration: none;
}
.product-description:hover {
    text-decoration: none;
}
.product-description {
    display: block;
    margin-bottom: 5px; /* Adjust as needed for spacing */
}

.product-image {
    max-width: 100%;
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi */
  }
  
  .product-image:hover {
    transform: scale(0.9); /* Thu nhỏ ảnh khi rê chuột vào */
  }
  
  .row {
    display: flex;
   
}


.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
 }
 
 .glitch {
    position: relative;
    font-size: 63px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #7B1039;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF32EB;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }






